// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
@import './src/App/assets/variables.scss';
//

.search {
    position: relative;
    width: 100%;

    @include xs {
        width: calc(100% - 60px);
        margin-bottom: 20px;
        order: 1;
        // position: absolute;
        // top: 0;
        // width: calc(100% - 20px);
    }
}

.searchInput {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: $main-color-2;
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 25px;
    display: block;
    padding: 15px 60px 15px 20px;
    transition: background-image 0.3s;

    @include sm {
        padding: 12px 60px 12px 20px;
    }

    &::placeholder {
        color: $additional-color;
    }

    &:focus {
        outline: none;
        color: $main-opposite-color;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    opacity: 0;

    &:hover ~ .input--search {
        background-image: url('/img/search--white.svg');
    }
}
