// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
//
.videoList {
    list-style-type: none;
    padding: 20px 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    @include xs {
        justify-content: center;
    }
}
