// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
@import './src/App/assets/variables.scss';
//

.niche {
    flex-grow: 1;

    @include sm {
        flex-grow: 0;
    }

    @include xs {
        width: 100%;
    }
}

.nicheWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    @include xs {
        display: none;
    }
}

.nicheMobile {
    display: none;

    @include xs {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.nicheMobileItem,
.nicheMobileItemSelected {
    width: 33.33%;
    padding: 10px 0;
    border: 2px solid $main-color-2;
    text-align: center;
    color: $additional-color;

    &:first-child {
        border-radius: 4px 0 0 4px;
        border-right: none;
    }

    &:last-child {
        border-radius: 0 4px 4px 0;
        border-left: none;
    }
}

.nicheMobileItemSelected {
    color: $main-opposite-color;
}

.textIcon {
    margin: 0 5px 0 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

// .Straight,
// .Gays,
// .Shemales {
//     margin: 0 10px 3px 0;
//     width: 24px;
//     height: 24px;
//     background-size: contain;
//     background-repeat: no-repeat; 
//     background-image: url('./Straight.svg');
// }

// .Gays {
//     background-image: url('./Gays.svg');
// }

// .Shemales {
//     background-image: url('./Shemales.svg');
// }

// https://www.flaticon.com/packs/world-pride-2