// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
@import './src/App/assets/variables.scss';
//

.header {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: $main-color;
}

.topInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin: 0 auto;

    @include xl {
        width: 50%;
    }

    @include lg {
        width: 1200px;
    }

    @include sm {
        padding: 12px 10px;
    }

    @include xs {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.searchWrapper,
.navigationWrapper {
    width: calc(100% - 200px);
    display: flex;
    align-items: center;

    @include sm {
        width: calc(100% - 150px);
    }
}

.searchWrapper {
    justify-content: space-between;
    
    @include xs {
        width: 100%;
        min-height: 70px;
        flex-wrap: wrap;
    }
}

.navigationWrapper {
    padding-left: 177px;

    @include sm {
        padding-left: 0;
    }
}

.logo {
    flex-shrink: 0;
    margin-right: 20px;
    width: 179px;
    height: 50px;

    @include sm {
        width: 135px;
        height: 37px;
    }

    @include xs {
        margin: 0 10px 20px;
    }
}

.searchIcon,
.searchIconClose {
    display: none;
    width: 48px;
    height: 48px;
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    margin-bottom: 20px;

    @include xs {
        display: block;
    }
}

.searchIconClose {
    background-image: url('/img/close.svg');
    order: 2;
}

.bottomInner {
    border-bottom: 1px solid $additional-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
    
    @include xs {
        display: none;
    }

    @include lg {
        width: 1200px;
    }

    @include xl {
        width: 50%;
    }
}
