// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
@import './src/App/assets/variables.scss';
//

.footer {
    width: 100vw;
}

.footerInner {
    display: flex;
    padding: 25px 20px 10px;
    margin: 0 auto;
    border-top: 1px solid $additional-color;

    @include xl {
        width: 1400px;
    }

    @include lg {
        width: 1200px;
    }

    @include xs {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.textBlock {
    width: calc(100% - 70px);

    @include xl {
        width: 100%;
    }

    @include xs {
        width: 100%;
    }
}

.linkList {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 0 20px;
}

.linkItem {
    color: $main-color;
    margin-right: 10px;
    font-size: 14px;

    &:not(:last-child)::after {
        content: '•';
        margin-left: 10px;
    }
}

.link {
    font-weight: bold;
    color: $main-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.QRCodeBlock {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
