// This is workaround becouse i don't know how do this better now
// I'll come up with another solution later.
@import './src/App/assets/mixins.scss';
//

.burgerMenu {
    display: none;

    @include xs {
        display: block;
        margin-bottom: 20px;
    }
}