.similar-videos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-grow: 0;

    &__item {
        flex-grow: 1;
        max-width: 160px;
        margin: 0 2px 4px;
        height: 60px;
        background: $dark-gray-3;
    
        @include mobile {
            width: 100px;
            max-width: 160px;
        }
    
        &:nth-child(3n + 1) {
            @include mobile {
                flex-grow: 1;
            }
        }
    
        &:nth-child(3n - 2) {
            @include mobile {
                flex-grow: 2;
            }
        }
    
        @for $i from 1 to 20 {
            &:nth-child(#{$i}) {
                @include not-mobile {
                    width: random(30) + 70 + px;
                }
            }
        }
    }

    &__view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 10px;
        background: $gray;
        margin: 0 2px 4px;
        color: $white;
        cursor: pointer;

        @include mobile {
            flex-grow: 1;
        }
    }
}